 body { font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: rgb(14, 8, 1) } 

 h1 { 	font-size:24px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: rgb(4, 74, 139) } 

 ul {	list-style-type: circle;}